@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

html {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background: #27d18b;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}