footer {
  text-align: center;
  display: flex;
  align-items: center;
  border: 1px solid #000;
}

footer a {
  margin: 1rem;
  width: 50%;
}

.footer-logo {
  width: 40%;
}

.fb-logo {
  width: 10%;
}